<h1>アカウント情報</h1>

<p>ニックネーム：<%= @profile.nickname %></p>
<p>性別：<%= @profile.gender %></p>
<p>年齢：<%= @profile.age %>才</p>
<p>身長：<%= @profile.height %>cm</p>
<p>運動頻度：<%= @exercize_frequency %></p>

<hr>

<%= link_to edit_user_profile_path(current_user.id), class: 'btn btn-primary btn-block mb-4' do %>
  <span>編集する</span>
<% end %>