<%= Gon::Base.render_data %>
<% $count_calorie = 0 %>
<% $count_protein = 0 %>
<% $count_fat = 0 %>
<% $count_carbo = 0 %>
<% $calc_age = @user_profile.age %>
<% $calc_height = @user_profile.height %>
<% $calc_active = @user_profile.active %>
<% $calc_body_fat = @user_weight.body_fat %>
<% $calc_weight = @user_weight.weight * (100 - $calc_body_fat) / 100 %>
<% $bmr = 13.397*$calc_weight + 4.799*$calc_height-5.677*$calc_age+88.362 %>
<% $tdee = $bmr * 1.75 %>
<% $calc_protein = $calc_weight * 2 %>
<% $calc_fat = $calc_weight * 0.9 %>
<% $calc_carbo = ($tdee - $calc_protein*4 + $calc_fat*9) / 4 %>
<% if params[:date].blank? || params[:date] == Date.today %>
    <h1 class="text-center">今日の食事</h1>
<% else %>
    <h1 class="text-center"><%= l params[:date].to_date, format: :short %>の食事</h1>
<% end %>
<div class="input-group col-sm-6 pr-sm-3 mt-3">
    <div class="input-group-prepend">
        <span class="input-group-text">日付</span>
    </div>
<%= form_with model: @meal, url: user_meals_path, method: :get, local: true do |form| %>
    <%= form.text_field :date ,id: "meal-calendar" %>
    <%= form.submit '表示する', id: "update-table" %>
<% end %>
</div>
<div class="table-responsive">
    <table class="table table-striped text-center">
        <thead class="thead-light">
            <tr><th>料理名</th><th>お気に入り</th><th>カロリー</th><th>タンパク質</th><th>脂質</th><th>炭水化物</th><th>記録の修正</th></tr>
        </thead>
            <%= render partial: 'meals/table', locals: { meal: @meals} %>
        <tr>
            <td>摂取合計</td>
            <td></td>
            <td><%= $count_calorie %>kcal</td>
            <td><%= $count_protein %>g</td>
            <td><%= $count_fat %>g</td>
            <td><%= $count_carbo %>g</td>
            <td></td>
        </tr>
        <tr>
            <td>今日の目標</td>
            <td></td>
            <td><%= $tdee.floor %>kcal</td>
            <td><%= $calc_protein.floor %>g</td>
            <td><%= $calc_fat.floor %>g</td>
            <td><%= $calc_carbo.floor %>g</td>
            <td></td>
        </tr>
        <tr>
            <td>目標との差</td>
            <td></td>
            <% if $count_calorie - $tdee.floor > 0 %>
                <td style="color:green;">+<%= $count_calorie - $tdee.floor %>kcal</td>
            <% else %>
                <td style="color:red;" ><%= $count_calorie - $tdee.floor %>kcal</td>
            <% end %>

            <% if $count_protein - $calc_protein.floor > 0 %>
                <td style="color:green;">+<%= ($count_protein - $calc_protein.floor).floor %>g</td>
            <% else %>
                <td style="color:red;" ><%= ($count_protein - $calc_protein.floor).floor %>g</td>
            <% end %>

            <% if $count_fat - $calc_fat.floor > 0 %>
            <td style="color:green;">+<%= ($count_fat - $calc_fat.floor).floor %>g</td>
            <% else %>
            <td style="color:red;" ><%= ($count_fat - $calc_fat.floor).floor %>g</td>
            <% end %>
            
            <% if $count_carbo - $calc_carbo.floor > 0 %>
            <td style="color:green;">+<%= ($count_carbo - $calc_carbo.floor).floor %>g</td>
            <% else %>
            <td style="color:red;" ><%= ($count_carbo - $calc_carbo.floor).floor %>g</td>
            <% end %>

            <td></td>
        </tr>    
    </table>
</div>
<%= link_to "新規登録", new_user_meal_path(current_user.id), class: 'btn btn-primary btn-block' %>
<canvas id="calorieChart" class="mt-5" ></canvas>
